[Unit]
Description=Electrotech backend server
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/electrotech
ExecStart=/usr/bin/electrotech-back
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
